<main class="main-contest">
      
  <header class="intro">
        <div class="intro__inner  intro__inner--inner  intro__inner--contest">
          <h1 class="intro__title">Конкурс на самое безбашенное путешествие с Пинк</h1>
        </div>
      </header>

      <div class="contest">
        <div class="contest__lead">
          <p>
            Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
            <span class="contest__lead-fill-form">Пожалуйста, заполните форму ниже:</span>
          </p>
        </div>
        <div class="contest__inner">
          <form class="form" method="post" action="http://echo.htmlacademy.ru">
            <div class="form__body">
              <div class="form__fieldset  form__fieldset--fullname">
                <h2 class="sr-only">Ваше полное имя</h2>
                <div class="form__fieldset-inner">
                  <div class="form__text-fields  form__text-fields--fullname">
                    <div class="form__field-text  form__field-text--fullname">
                      <label class="form__text-label  form__text-label--fullname" for="user-last-name">Фамилия:</label>
                      <input class="form__text-input  form__text-input--last-name" id="user-last-name" type="text" name="Фамилия" placeholder="Укажите фамилию *">
                    </div>
                    <div class="form__field-text  form__field-text--fullname">
                      <label class="form__text-label  form__text-label--fullname" for="user-first-name">Имя:</label>
                      <input class="form__text-input  form__text-input--first-name" id="user-first-name" type="text" name="Имя" placeholder="Введите ваше имя *" required="">
                    </div>
                    <div class="form__field-text  form__field-text--fullname">
                      <label class="form__text-label  form__text-label--fullname" for="user-middle-name">Отчество:</label>
                      <input class="form__text-input  form__text-input--middle-name" id="user-middle-name" type="text" name="Отчество" placeholder="Ну и отчество тоже">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__fieldset  form__fieldset--achievements">
                <h2 class="form__title">Ваши безбашенные достижения в путешествии</h2>
                <div class="form__fieldset-inner">
                  <div class="form__checkbox-fields  form__checkbox-fields--achievements">
                    <div class="form__checkbox-wrapper">
                      <div class="form__field-checkbox">
                        <input class="form__checkbox-input" type="checkbox" id="achivements[1]" name="Достижения" value="Сделал селфи с акулой" checked="">
                        <label class="form__checkbox-label" for="achivements[1]">Сделал селфи с акулой</label>
                      </div>
                      <div class="form__field-checkbox">
                        <input class="form__checkbox-input" type="checkbox" id="achivements[2]" name="Достижения" value="Обгорел на пляже" checked="">
                        <label class="form__checkbox-label" for="achivements[2]">Обгорел на пляже</label>
                      </div>
                    </div>
                    <div class="form__checkbox-wrapper">
                      <div class="form__field-checkbox">
                        <input class="form__checkbox-input" type="checkbox" id="achivements[3]" name="Достижения" value="Видел Чака Норриса">
                        <label class="form__checkbox-label" for="achivements[3]">Видел Чака Норриса</label>
                      </div>
                      <div class="form__field-checkbox">
                        <input class="form__checkbox-input" type="checkbox" id="achivements[4]" name="Достижения" value="Накупил сувениров">
                        <label class="form__checkbox-label" for="achivements[4]">Накупил сувениров</label>
                      </div>
                    </div>
                    <div class="form__checkbox-wrapper">
                      <div class="form__field-checkbox">
                        <input class="form__checkbox-input" type="checkbox" id="achivements[5]" name="Достижения" value="Удержал башню" checked="">
                        <label class="form__checkbox-label" for="achivements[5]">Удержал башню</label>
                      </div>
                      <div class="form__field-checkbox">
                        <input class="form__checkbox-input" type="checkbox" id="achivements[6]" name="Достижения" value="Разгромил отель">
                        <label class="form__checkbox-label" for="achivements[6]">Разгромил отель</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__fieldset  form__fieldset--contacts">
                <h2 class="form__title  form__title--contacts">Контактная информация</h2>
                <div class="form__fieldset-inner">
                  <div class="form__text-fields  form__text-fields--contacts">
                    <div class="form__field-text  form__field-text--contacts">
                      <label class="form__text-label  form__text-label--contacts" for="user-phone">Номер телефона</label>
                      <div class="form__input-wrapper  form__input-wrapper--contacts  form__input-wrapper--phone">
                        <input class="form__text-input  form__text-input--contacts" id="user-phone" type="tel" name="Номер телефона" placeholder="Номер, пожалуйста">
                      </div>
                    </div>
                    <div class="form__field-text  form__field-text--contacts">
                      <label class="form__text-label  form__text-label--contacts" for="user-email">Aдрес почты</label>
                      <div class="form__input-wrapper  form__input-wrapper--contacts  form__input-wrapper--email">
                        <input class="form__text-input  form__text-input--contacts" id="user-email" type="email" name="E-mail" placeholder="Введите почту *" required="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__fieldset  form__fieldset--apps">
                <h2 class="form__title  form__title--apps">С каким приложением путешествовали?</h2>
                <div class="form__fieldset-inner">
                  <div class="form__radio-fields  form__radio-fields--apps">
                    <div class="form__field-radio">
                      <input class="form__radio-input" type="radio" id="ios" name="Приложение" value="Pink для iOS" checked="">
                      <label class="form__radio-label" for="ios">Pink для iOS</label>
                    </div>
                    <div class="form__field-radio">
                      <input class="form__radio-input" type="radio" id="android" name="Приложение" value="Pink на Android">
                      <label class="form__radio-label" for="android">Pink на Android</label>
                    </div>
                    <div class="form__field-radio">
                      <input class="form__radio-input" type="radio" id="windows-phone" name="Приложение" value="Windows Phone">
                      <label class="form__radio-label" for="windows-phone">Windows Phone</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__fieldset  form__fieldset--emotions">
                <h2 class="form__title  form__title--emotions">Опишите свои эмоции</h2>
                <div class="form__fieldset-inner">
                  <div class="form__textarea-fields  form__textarea-fields--emotions">
                    <textarea class="form__textarea  form__textarea--emotions" name="Сообщение" rows="8" cols="30" placeholder="Можно прям в красках, не стесняясь в выражениях"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <footer class="form__footer">
              <button class="form__submit-btn  btn  btn--submit" type="submit">Отправить форму</button>
              <div class="form__note"><span class="form__note-symbol">*</span> — обязательные <span class="form__note-purpose">для заполнения</span> поля</div>
            </footer>
          </form>
        </div>
      </div>
    </main>

<header class="intro">
  <div class="intro__inner  intro__inner--inner  intro__inner--contest">
    <h1 class="intro__title">Конкурс на самое безбашенное путешествие с Пинк</h1>
  </div>
</header>

<div class="contest">
  <div class="contest__lead">
    <p>
      Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!
      <span class="contest__lead-fill-form">Пожалуйста, заполните форму ниже:</span>
    </p>
  </div>
  <div class="contest__inner">
    <form class="form" method="post" action="http://echo.htmlacademy.ru">
      <div class="form__body">
        <div class="form__fieldset  form__fieldset--fullname">
          <h2 class="sr-only">Ваше полное имя</h2>
          <div class="form__fieldset-inner">
            <div class="form__text-fields  form__text-fields--fullname">
              <div class="form__field-text  form__field-text--fullname">
                <label class="form__text-label  form__text-label--fullname" for="user-last-name">Фамилия:</label>
                <input class="form__text-input  form__text-input--last-name" id="user-last-name" type="text" name="Фамилия" placeholder="Укажите фамилию *">
              </div>
              <div class="form__field-text  form__field-text--fullname">
                <label class="form__text-label  form__text-label--fullname" for="user-first-name">Имя:</label>
                <input class="form__text-input  form__text-input--first-name" id="user-first-name" type="text" name="Имя" placeholder="Введите ваше имя *" required="">
              </div>
              <div class="form__field-text  form__field-text--fullname">
                <label class="form__text-label  form__text-label--fullname" for="user-middle-name">Отчество:</label>
                <input class="form__text-input  form__text-input--middle-name" id="user-middle-name" type="text" name="Отчество" placeholder="Ну и отчество тоже">
              </div>
            </div>
          </div>
        </div>
        <div class="form__fieldset  form__fieldset--achievements">
          <h2 class="form__title">Ваши безбашенные достижения в путешествии</h2>
          <div class="form__fieldset-inner">
            <div class="form__checkbox-fields  form__checkbox-fields--achievements">
              <div class="form__checkbox-wrapper">
                <div class="form__field-checkbox">
                  <input class="form__checkbox-input" type="checkbox" id="achivements[1]" name="Достижения" value="Сделал селфи с акулой" checked="">
                  <label class="form__checkbox-label" for="achivements[1]">Сделал селфи с акулой</label>
                </div>
                <div class="form__field-checkbox">
                  <input class="form__checkbox-input" type="checkbox" id="achivements[2]" name="Достижения" value="Обгорел на пляже" checked="">
                  <label class="form__checkbox-label" for="achivements[2]">Обгорел на пляже</label>
                </div>
              </div>
              <div class="form__checkbox-wrapper">
                <div class="form__field-checkbox">
                  <input class="form__checkbox-input" type="checkbox" id="achivements[3]" name="Достижения" value="Видел Чака Норриса">
                  <label class="form__checkbox-label" for="achivements[3]">Видел Чака Норриса</label>
                </div>
                <div class="form__field-checkbox">
                  <input class="form__checkbox-input" type="checkbox" id="achivements[4]" name="Достижения" value="Накупил сувениров">
                  <label class="form__checkbox-label" for="achivements[4]">Накупил сувениров</label>
                </div>
              </div>
              <div class="form__checkbox-wrapper">
                <div class="form__field-checkbox">
                  <input class="form__checkbox-input" type="checkbox" id="achivements[5]" name="Достижения" value="Удержал башню" checked="">
                  <label class="form__checkbox-label" for="achivements[5]">Удержал башню</label>
                </div>
                <div class="form__field-checkbox">
                  <input class="form__checkbox-input" type="checkbox" id="achivements[6]" name="Достижения" value="Разгромил отель">
                  <label class="form__checkbox-label" for="achivements[6]">Разгромил отель</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form__fieldset  form__fieldset--contacts">
          <h2 class="form__title  form__title--contacts">Контактная информация</h2>
          <div class="form__fieldset-inner">
            <div class="form__text-fields  form__text-fields--contacts">
              <div class="form__field-text  form__field-text--contacts">
                <label class="form__text-label  form__text-label--contacts" for="user-phone">Номер телефона</label>
                <div class="form__input-wrapper  form__input-wrapper--contacts  form__input-wrapper--phone">
                  <input class="form__text-input  form__text-input--contacts" id="user-phone" type="tel" name="Номер телефона" placeholder="Номер, пожалуйста">
                </div>
              </div>
              <div class="form__field-text  form__field-text--contacts">
                <label class="form__text-label  form__text-label--contacts" for="user-email">Aдрес почты</label>
                <div class="form__input-wrapper  form__input-wrapper--contacts  form__input-wrapper--email">
                  <input class="form__text-input  form__text-input--contacts" id="user-email" type="email" name="E-mail" placeholder="Введите почту *" required="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form__fieldset  form__fieldset--apps">
          <h2 class="form__title  form__title--apps">С каким приложением путешествовали?</h2>
          <div class="form__fieldset-inner">
            <div class="form__radio-fields  form__radio-fields--apps">
              <div class="form__field-radio">
                <input class="form__radio-input" type="radio" id="ios" name="Приложение" value="Pink для iOS" checked="">
                <label class="form__radio-label" for="ios">Pink для iOS</label>
              </div>
              <div class="form__field-radio">
                <input class="form__radio-input" type="radio" id="android" name="Приложение" value="Pink на Android">
                <label class="form__radio-label" for="android">Pink на Android</label>
              </div>
              <div class="form__field-radio">
                <input class="form__radio-input" type="radio" id="windows-phone" name="Приложение" value="Windows Phone">
                <label class="form__radio-label" for="windows-phone">Windows Phone</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form__fieldset  form__fieldset--emotions">
          <h2 class="form__title  form__title--emotions">Опишите свои эмоции</h2>
          <div class="form__fieldset-inner">
            <div class="form__textarea-fields  form__textarea-fields--emotions">
              <textarea class="form__textarea  form__textarea--emotions" name="Сообщение" rows="8" cols="30" placeholder="Можно прям в красках, не стесняясь в выражениях"></textarea>
            </div>
          </div>
        </div>
      </div>
      <footer class="form__footer">
        <button class="form__submit-btn  btn  btn--submit" type="submit">Отправить форму</button>
        <div class="form__note"><span class="form__note-symbol">*</span> — обязательные <span class="form__note-purpose">для заполнения</span> поля</div>
      </footer>
    </form>
  </div>
</div>