<% var data = {
  title: "PINK",
  author: "Alessya"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="page-main">

   <h1 class="visually-hidden"></h1> 
   <!-- нужно поисковикам, мы не отображаем -->
   <section class=""> 
      <!-- любой отдельный модуль на сайте со своим подзаголовком -->
      <header class=""></header> 
      <!-- хедер этого модуля -->
      <h2 class="visually-hidden"></h2> 
      <!-- название этого модуля -->
   </section>

   <section class="">
      <div class=""></div> 
      <!-- обертка для этого модуля -->
      <ul class="">
         <li class="">
           <p class="">Рандом текст</p>
         </li>
       </ul>
   </section> 
   <!-- другой модуль сайта -->

   <section class="">
      <div class=""></div> 
      <!-- обертка для этого модуля -->
      <table class="list">
         <tr>
           <td class="value">
             цифра
           </td>
           <td class="field">
             значение
           </td>
         </tr>
       </table>
   </section>

   <section class="advantages">
      <div class="advantages__wrapper">
      <h2 class="visually-hidden">Наши преимущества</h2>
      <ul class="advantages__list">
         <li class="advantages__item">
            <h3 class="advantages__title">Поднимает настроение</h3>
            <p class="advantages__description">Приложение позволит вам победить оспеннюю хандру и бла</p>
         </li>
         <li class="advantages__item">
            <h3 class="advantages__title">Меняет мир вокруг</h3>
            <p class="advantages__description">Ну реально все изменяет вообще</p>
         </li>
         <li class="advantages__item">
            <h3 class="advantages__title">Заводит новых друзей</h3>
            <p class="advantages__description">И старых заводит. Довольно эротичное приложение.</p>
         </li>
      </ul>
   </div> 
   </section>

   <section class="reviews">
      <div class="reviews__wrapper slider">
         <div class="reviews__list slider__list">
         <blockquote class="reviews__item slider__item">
            <cite class="reviews__author-name">Николай Петров</cite>
            <p class="reviews__text">Это приложение перевернуло мой мир, я нашел собаку, жену и ребенка!</p>
         </blockquote>
         </div> 
         <p class="reviews__toggles slider__toggles">
            <button class="slider__toggle" type="button">1</button>
            <button class="slider__toggle" type="button">2</button>
            <button class="slider__toggle" type="button">3</button>
          </p>
      </div>
   </section>

   <section class="offer">
      <div class="offer__wrapper slider">
      <div class="offer__list slider__list">
         <div class="offer__item slider__item">

         </div>
      </div>
      </div>
   </section>
</main>

   <footer class="page-footer">
      <div class="page-footer__wrapper">
         <div class="page-footer__contacts contacts">
            <b class="contacts__title">Остались вопросы? <br/> Свяжитесь с нами!</b>
          <p class="contacts__text">
            Звоните:<br>
            <a class="contacts__phone" href="tel:+78125556666">
              <span class="contacts__phone-mobile"></span> +7 (812) 555-66-66
            </a>
          </p>
          <p class="contacts__text">
            Пишите:<br>
            <a class="contacts__link" href="mailto:mail@htmlacademy.ru">
              <span class="contacts__phone-mobile"></span> mail@htmlacademy.ru
            </a>
          </p>
          <p class="contacts__text">
            Приезжайте в гости:<br>
            <a class="contacts__address" href="#">
              <span class="contacts__phone-mobile"></span> ул. Большая <br/> Конюшенная, 19/8
            </a>
          </p>
         </div>
         <div class="page-footer__map">
            Карта
         </div>
      </div>
   </footer>

   <section>
      <form method="POST" action=".">
         <p>
                 <label for="id-name-field">Ваше имя</label>
                 <input type="text" name="name-field" id="id-name-field" />
         </p>
         <p>
                 <button type="submit">Отправить</button>
         </p>
      </form>
   </section>

<%= _.template(require('./../includes/footer.html'))(data) %>