@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

// /* Убираем внутренние отступы */
// ul[class],
// ol[class] {
//   padding: 0;
// }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Open Sans', "Arial", sans-serif;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: rgb(40, 54, 69);
  background-color: rgb(255, 255, 255);
}


/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// ============================================
// Хедер
// ============================================

.page-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: #293746;
}

@media (min-width: 960px) {
  .page-header__logo {
    margin-left: 0;
  }
}

@media (min-width: 960px) {
  .page-header {
    position: absolute;
    background-color: rgba(black, 0.3);
    color: white;
    width: 100%;
    z-index: 2;
  }
}

.page-header__wrapper {
  width: 100%;
  // background-color: rgba(var(--black), 0.3);
  // background-color: #283745;
}

@media (min-width: 960px) {
  .page-header__wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header__logo-image {
  margin: 22px 20px;
  width: 75px;
  height: 22px;
}

@media (min-width: 660px) {
  .page-header__logo-image {
    display: none;
  }
}

@media (min-width: 960px) {
  .page-header__logo {
    margin-left: 0;
  }
}

.page-header__logo-image-tablet {
  display: none;
}

@media (min-width: 660px) {
  .page-header__logo-image-tablet {
    display: block;
    margin: 22px 20px;
    margin-top: 27px;
    margin-bottom: 43px;
    width: 147px;
    height: 40px;
  }
}

@media (min-width: 960px) {
  .page-header__logo-image-tablet {
    display: none;
  }
}

.page-header__logo-image-desktop {
  display: none;
}

@media (min-width: 960px) {
  .page-header__logo-image-desktop {
    display: block;
    margin: 22px 20px;
    margin-top: 27px;
    margin-bottom: 43px;
    width: 147px;
    height: 40px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 19px;
  width: 50px;
  height: 24px;
  padding: 0;

  background-color: white;
  border: 0;
  outline: 0;
  cursor: pointer;

  background: url('../img/icon-menu-burger.svg');
}

@media (min-width: 660px) {
  .main-nav__toggle {
    top: 44px;
  }
}

@media (min-width: 960px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle-icon {
  color: red;
  background-color: red;
}

// ============================================
// Навигация
// ============================================

.main-nav {
  width: 100%;
}

@media (min-width: 960px) {
  .main-nav {
    margin-left: auto;
    width: 760px;
    padding-top: 34px;
    padding-bottom: 36px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
}

.main-nav__list {
  width: 100%;
  min-width: 320px;
  font-size: 16px;
}

@media (min-width: 960px) {
  .main-nav__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: none;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.main-list__item a {
  display: block;
  margin: 0;
  background-color: #283745;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 16px 20px;
  box-shadow: 0 -1px 0 #000, inset 0 1px 0 rgba(white, 0.15);
}

@media (min-width: 960px) {
  .main-list__item a {
    background-color: rgba(white, 0);
    border: 0;
    box-shadow: none;
    text-transform: none;
    line-height: 18px;
    font-weight: 400;
    padding: 11px 0;
  }
}

.main-list__item {
  justify-content: center;
  align-items: center;
  // box-shadow: 0 0 1px rgb(255, 255, 255);
}

@media (min-width: 960px) {
  .main-list__item {
    margin-left: 80px;
  }
}

@media (min-width: 960px) {
  .main-list__item--active {
    position: relative;
  }
}

@media (min-width: 960px) {
  .main-list__item--active::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    height: 2px;
    background: white;
  }
}

@media (min-width: 960px) {
  .main-list__item:first-child {
    margin-left: 0;
  }
}


// ============================================
// Заголовок с фоном
// ============================================

.intro {
  background-color: rgba(40, 54, 69, 1);
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  color: rgba(255, 255, 255, 1);
  padding-top: 66px;
}

.intro__inner {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;
}

.intro__inner--inner {
  padding-top: 28px;
  padding-bottom: 28px;
  min-height: 170px;
}

.intro__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

// ============================================
// Галерея
// ============================================

.gallery {
  padding-top: 46px;
}

.gallery__lead {
  width: 320px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto 48px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.gallery__lead>:last-child {
  margin-bottom: 0;
}

.gallery__lead>:first-child {
  margin-top: 0;
}

// ============================================
// Карточки с картинками, посты пользователей
// ============================================

.post--card,
.post--panorama {
  margin-bottom: 20px;
}

.post__panorama {
  display: block;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media (max-width: 659px) {
  .post__panorama {
    width: 320px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

.post__panorama-rubric {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgba(210, 40, 86, 1);
  text-transform: uppercase;
  padding: 6px 20px;
}

.post__body-wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.post__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px 18px 20px;
  background-color: rgb(242, 242, 242);
}

.post__author {
  font-weight: 700;
}

.post__time {
  display: inline;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.post__text {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.post__text>:last-child {
  margin-bottom: 0;
}

.post__text>:first-child {
  margin-top: 0;
}

.post__action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

// ============================================
// Кнопка "Нравится"
// ============================================

.like-btn {
  width: 13px;
  height: 12px;
  background-color: rgb(0, 0, 0);
  border: 0;
  padding: 0;
  text-indent: -1000px;
  overflow: hidden;
  background: url(../img/icon-heart.svg) no-repeat center;
  background-size: 13px 12px;
  outline: 0;
  cursor: pointer;
}

// ============================================
// Тело поста, тело карточки
// ============================================

.post__body-wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.post__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 18px 18px 20px;
  background-color: rgb(242, 242, 242);
}

.post__stats {
  margin-left: 19px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(210, 40, 86);
  text-decoration: none;
}

// ============================================
// Галерея
// ============================================

.gallery__inner {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.post-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post--card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 280px;
  min-height: 301px;
}

.post__time {
  display: inline;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

// ============================================
// Колонка постинга фотки, редактор
// ============================================

.photo-upload {
  padding-top: 19px;
}

.photo-upload__lead {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto 42px;
}

.photo-upload__lead>:last-child {
  margin-bottom: 0;
}

.photo-upload__lead>:first-child {
  margin-top: 0;
}

.photo-editor {
  background-color: rgb(242, 242, 242);
}

.photo-editor__inner {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (max-width: 659px) {
  .photo-editor__inner {
    width: 100%;
    padding: 0;
  }
}

.photo-editor__image {
  padding-top: 20px;
  width: 280px;
}

@media (max-width: 659px) {
  .photo-editor__image {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

.photo-editor__fields {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 41px;
}

// ============================================
// Иконки обрезки и редактирования
// ============================================

.photo-editor__tools-wrapper {
  padding-top: 39px;
}

@media (max-width: 659px) {
  .photo-editor__tools-wrapper {
    width: 320px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}

.photo-editor__tools {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

@media (max-width: 659px) {
  .photo-editor__tools {
    position: relative;
    padding-bottom: 72px;
  }
}

@media (max-width: 659px) {
  .photo-editor__tool {
    display: inline-block;
    vertical-align: top;
  }
}

.photo-editor__tool-name {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-left: 16px;
  width: 48px;
  height: 50px;
}

.photo-editor__tool-icon {
  fill: rgba(40, 54, 69, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-editor__tool-icon--active {
  fill: rgb(210, 40, 86);
}

.photo-editor__tool-icon--crop {
  width: 48px;
  height: 48px;
}

svg:not(:root) {
  overflow: hidden;
}

@media (max-width: 659px) {
  .photo-editor__control {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 28px;
    background-color: rgb(242, 242, 242);
  }
}

@media (max-width: 659px) {
  .photo-editor__control--crop {
    display: block;
  }
}

.photo-editor__range {
  position: relative;
  height: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.photo-editor__range-scale {
  height: 2px;
  background-color: rgb(40, 54, 69);
}

.photo-editor__range-value {
  height: 2px;
  width: 50%;
}

.photo-editor__range-btn {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgb(210, 40, 86);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  outline: 0;
}

// ============================================
// Кнопки под регулировщиком
// ============================================

.photo-editor__btns {
  position: relative;
  padding-top: 38px;
}

@media (max-width: 659px) {
  .photo-editor__btns::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(221, 223, 224);
  }
}

@media (max-width: 659px) {
  .photo-editor__btns-inner {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 15px 30px 16px;
  border: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.btn--upload {
  border: 3px solid rgb(210, 40, 86);
  border-radius: 30px;
  color: rgb(210, 40, 86);
  background-color: rgba(0, 0, 0, 0);
}

.btn--cancel {
  border: 3px solid rgb(40, 54, 69);
  border-radius: 30px;
  color: rgb(40, 54, 69);
  background-color: rgba(0, 0, 0, 0);
  opacity: .1;
}

.photo-editor__upload-btn {
  width: 100%;
  margin-bottom: 12px;
}

.photo-editor__cancel-btn {
  width: 100%;
}

// ============================================
// Футер (перенести)
// ============================================

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
}


@media (max-width: 659px) {

  .form__footer,
  .page-footer__wrapper {
    text-align: center;
  }
}

.logo-pink-footer {
  display: inline-block;
  vertical-align: top;
  height: 40px;
}

.logo-pink-footer__svg {
  fill: rgb(40, 54, 69);
  color: rgb(210, 40, 86);
  width: 147px;
  height: 40px;
}

.social {
  font-size: 0;
  margin-top: 35px;
}

.social__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 51px;
  height: 51px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  margin: 5px 6px;
}

.social__icon {
  fill: rgb(210, 40, 86);
  position: absolute;
}

.social__icon--twitter {
  top: 15px;
  left: 14px;
  width: 18px;
  height: 15px;
}

.social__icon--facebook {
  top: 12px;
  left: 18px;
  width: 9px;
  height: 19px;
}

.social__icon--facebook {
  top: 12px;
  left: 18px;
  width: 9px;
  height: 19px;
}

.social__icon--youtube {
  top: 15px;
  left: 17px;
  width: 15px;
  height: 14px;
}

.copyright {
  font-size: 0;
  margin-top: 34px;
}


@media (min-width: 660px) {

  .page-header {
    min-height: 110px;
  }

  .logo-pink-header {
    margin-top: 27px;
    margin-bottom: 43px;
    width: 147px;
    height: 40px;
  }

  .logo-pink-header__svg {
    margin: 0;
  }

  .main-nav__trigger {
    top: 44px;
  }

  .intro {
    padding-top: 110px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
  }

  .intro__inner {
    width: 660px;
    height: 100%;
  }

  .intro__inner--inner {
    padding-top: 69px;
    padding-bottom: 69px;
    min-height: 330px;
  }

  .intro__title {
    font-size: 50px;
    line-height: 60px;
  }

  .gallery {
    padding-top: 92px;
  }

  .gallery__lead {
    width: 660px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 76px;
    font-size: 18px;
    line-height: 30px;
  }

  .post--panorama {
    margin-bottom: 30px;
  }

  .post__panorama {
    height: 509px;
  }

  .post__image img,
  .post__panorama img {
    position: relative;
    width: auto;
    max-width: inherit;
    left: 50%;
    transform: translateX(-50%);
  }

  .post__panorama-rubric {
    transform: translateX(170px);
    top: 57px;
  }


  .post__body-wrapper {
    width: 660px;
  }

  .post__body {
    padding: 24px 31px 22px 28px;
  }

  .post__body--panorama {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 29px;
    padding-bottom: 24px;
  }

  .post__header--panorama {
    -ms-flex-order: -2;
    order: -2;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 20px;
  }

  .post__action {
    margin-top: 12px;
    padding-left: 0;
  }

  .post__action--panorama {
    margin-top: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .gallery__inner {
    width: 660px;
  }

  .post-list {
    padding-top: 20px;
  }

  .post--card {
    width: 300px;
    min-height: 455px;
    margin-right: 20px;
  }

  .post__image {
    overflow: hidden;
  }

  .post__image img,
  .post__panorama img {
    position: relative;
    width: auto;
    max-width: inherit;
    left: 50%;
    transform: translateX(-50%);
  }

  .post__image img {
    height: 300px;
  }

  .post__body {
    padding: 24px 31px 22px 28px;
  }

  .post--card {
    width: 300px;
    min-height: 455px;
    margin-right: 20px;
  }

  .post--card:nth-child(2n) {
    margin-right: 0;
  }

  .post__image {
    overflow: hidden;
  }

  .photo-upload {
    padding-top: 45px;
  }

  .photo-upload__lead {
    width: 660px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 69px;
    font-size: 18px;
    line-height: 30px;
  }

  .photo-editor__inner {
    width: 660px;
  }

  .photo-editor__form {
    display: -ms-flexbox;
    display: flex;
  }

  .photo-editor__image {
    width: 300px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .photo-editor__image img {
    width: 300px;
    height: 400px;
  }

  .photo-editor__fields {
    padding-top: 40px;
    padding-bottom: 54px;
    margin-left: 45px;
    width: 275px;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .photo-editor__tools-wrapper {
    padding: 0;
  }

  .photo-editor__tool {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: inset 0 -1px #dddfe0;
    padding-top: 25px;
    padding-bottom: 24px;
  }

  .photo-editor__tool-name {
    margin-right: 1px;
    margin-left: 3px;
    width: 24px;
    height: 24px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .photo-editor__tool-icon {
    fill: rgb(210, 40, 86);
  }

  .photo-editor__tool-icon--crop,
  .photo-editor__tool-icon--fill {
    width: 24px;
    height: 24px;
  }

  .photo-editor__control {
    position: relative;
    padding-left: 27px;
    padding-right: 18px;
    width: 100%;
  }

  .photo-editor__tool--contrast {
    padding-top: 22px;
    padding-bottom: 24px;
  }

  .photo-editor__btns {
    margin-top: auto;
  }

  .photo-editor__btns-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 2px;
    padding-right: 13px;
  }

  .photo-editor__upload-btn {
    margin-bottom: 25px;
  }

  .page-footer__wrapper {
    width: 660px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 34px;
  }

  .logo-pink-footer {
    width: 150px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 17px;
  }

  .social {
    margin-top: 0;
  }

  .social__link {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .copyright {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 14px;
    margin-bottom: 9px;
    width: 150px;
    text-align: right;
  }

  .copyright__develop-txt {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
  }

  .copyright__owner {
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    width: 27px;
    height: 34px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 660px),
(min-resolution: 144dpi) and (min-width: 660px),
(min-resolution: 1.5dppx) and (min-width: 660px) {
  .intro {
    background-image: url(../img/bg-back-tablet@2x.jpg);
    background-size: 1200px auto;
  }
}